/*GLOBAL GLOBAL GLOBAL GLOBAL GLOBAL */
html{
    height: 100%;
}
body{
    /*background: url("https://stephaniecroydon.weebly.com/uploads/8/5/3/7/8537069/bright-penwith_orig.jpg");*/
    /*background-position: center;*/
    /*background-size: cover;*/
    background-color: #4c4f58;
    font-family: 'Ubuntu', sans-serif;
    color: white;
}
a{
    color: white;
}
a:hover{
    text-decoration: none;
    color: #eee;
}
/*MAIN MAIN MAIN MAIN MAIN MAIN MAIN */
.container-fluid{
    display: grid;
    grid-template-rows: 1fr 1fr;
}
/*ROW 1 ROW 1 ROW 1 ROW 1 ROW 1 ROW 1*/
#content{
    text-align: center;
    padding-top: 15%;
}
#enterBtn{
    border: solid 2px #ddd;
    padding: 10px 20px;
    letter-spacing: 3px;
}
#name{
    font-size: 6em;
    letter-spacing: 20px;
    margin-bottom: 30px;
}
#descr{
    color: #ddd;
    font-size: 1.5em;
    margin-bottom: 60px;
    letter-spacing: 3px;
}
/*ROW 2 ROW 2 ROW 2 ROW 2 ROW 2 ROW 2 */
.socialIcons{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
}
.fab{
    padding: 10px;
    border: 2px solid #ddd;
    /*border-radius: 10%;*/
}
.fa-facebook-f{
    padding: inherit 50px;   
}