        <footer>
            <div id="footer-icons">
                <a href=""><i class="fab fa-facebook-f fa-2x"></i></a>
                <a href=""><i class="fab fa-twitter fa-2x"></i></a>
                <a href=""><i class="fab fa-instagram fa-2x"></i></a>
            </div>
            <p>stephcroydon@hotmail.com | &copy; 2019 Stephanie Croydon</p>
            <p>Built By <a href="https://www.google.com" target="_blank"><i class="far fa-star-half"></i>Discover Media</a></p>
        </footer>
   
    <script type="text/javascript" src="main.js"></script>
        
    </body>
</html>