<!DOCTYPE html>
<html>
    <head>
        <title>Stephanie Croydon</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://fonts.googleapis.com/css?family=Aleo|Work+Sans:400,700" rel="stylesheet"> 
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
    </head>
    <body>
        <header>
            <div id="sidebar">
                <div class="toggle-btn" onclick="toggleSidebar(this)">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
                <div id="menu-items">
                    <div class="list">
                        <div class="item"><a href="/">HOME</a></div>
                        <div class="item"><a href="/gallery">GALLERY</a></div>
                        <div class="item"><a href="/about">ABOUT</a></div>
                        <div class="item"><a href="/shop">SHOP</a></div>
                        <div class="item"><a href="/contact">CONTACT</a></div>
                    </div>
                </div>
                
                <div id="social-icons">
                    <div id="social-icons-box">
                        <a href="#"><i class="fab fa-facebook-f fa-2x"></i></a>
                        <a href="#"><i class="fab fa-twitter fa-2x"></i></a>
                        <a href="#"><i class="fab fa-instagram fa-2x"></i></a>
                    </div>
                </div>
                <div id="built">
                    <p>Built By</p>
                    <a href="https://www.google.com" target="_blank"><i class="far fa-star-half"></i>Discover Media</a></p>
                </div>
            </div>
        </header>