<% include partials/header %>
        <div id="about-page">
            <div id="about-wrapper">
                <section id="about-picArea">
                    <img id="about-pic" src="https://scontent-lhr3-1.xx.fbcdn.net/v/t1.0-9/35386867_10160560157235302_4587852970023976960_n.jpg?_nc_cat=103&_nc_ht=scontent-lhr3-1.xx&oh=4e748cb8d09e8cee3e525620098ee388&oe=5CFBA7EF">
                </section>
                <section id="about-textArea">
                    <h1>ABOUT ME</h1>
                    <div id="about-titleLine"></div>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                    when an unknown printer took a galley of type and scrambled it to make a type 
                    specimen book. It has survived not only five centuries, but also the leap into 
                    electronic typesetting, remaining essentially unchanged. It was popularised in 
                    the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, 
                    versions of Lorem Ipsum.</p>
                    <p>electronic typesetting, remaining essentially unchanged. It was popularised in 
                    the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, 
                    versions of Lorem Ipsum.</p>
                    <div id="about-list">
                        <span id=""></span>
                    </div>
                    <div id="about-btns">
                        <a href="/gallery" class="buttons green">GALLERY</a>
                        <a href="/contact" class="buttons white">CONTACT</a>
                    </div>
                </section>
            </div>
        </div>


<% include partials/footer %>