<% include partials/header %>
        <main id="container">
            <section id="landing-wrapper">
                <section id="landing-textArea">
                    <div id="textArea-content">
                        <div id="landing-social-icons">
                            <a href="#"><i class="fab fa-facebook-f fa-2x"></i></a>
                            <a href="#"><i class="fab fa-twitter fa-2x"></i></a>
                            <a href="#"><i class="fab fa-instagram fa-2x"></i></a>
                        </div>
                        <div id="landing-name">
                            <h1>STEPHANIE</h1>
                            <h1>CROYDON</h1>
                            <h3>ARTIST</h3>
                        </div>
                        <div id="short-bio">
                            <p>I'm an Artist based in Cornwall with many years experience
                            capturing the stunning south-west landscape and creating thought-
                            provoking works from it.</p>
                        </div>
                        <div id="landing-buttons" class="">
                            <a href="/gallery" class="buttons green landingBtns">GALLERY</a>
                            <a href="/contact" class="buttons white landingBtns">CONTACT</a>
                        </div>
                    </div>
                </section>
                <section id="landing-picArea">
                  
                </section>
            </section>
            <section id="l-about-wrapper">
                <div id="l-about-content">
                    <div id="circle"></div>
                    <h1>I'm a <span class="l-about-span">Cornwall</span> based artist specialising
                    in Interdisciplinary  <span class="l-about-span">Art</span>
                    and  <span class="l-about-span">Design</span></h1>
                </div>
            </section>
            <section id="landingGallery">
                <div class="rowGal"> 
                    <div class="columnGal">
                        <img src="https://stephaniecroydon.weebly.com/uploads/8/5/3/7/8537069/20171120-143655_orig.jpg" style="width:100%">
                        <img src="https://stephaniecroydon.weebly.com/uploads/8/5/3/7/8537069/patchcolour_orig.jpg" style="width:100%">
                        <img src="https://stephaniecroydon.weebly.com/uploads/8/5/3/7/8537069/neon-land-small-wood_orig.jpg" style="width:100%">
                    </div>
                  
                    <div class="columnGal">
                        <img src="https://stephaniecroydon.weebly.com/uploads/8/5/3/7/8537069/20171120-143558_orig.jpg" style="width:100%">
                        <img src="https://stephaniecroydon.weebly.com/uploads/8/5/3/7/8537069/20171120-143757_1_orig.jpg" style="width:100%">
                        <img src="https://stephaniecroydon.weebly.com/uploads/8/5/3/7/8537069/20171120-143124-711_orig.jpg" style="width:100%">
                    </div> 
                   
                    <div class="columnGal">
                        <img src="https://stephaniecroydon.weebly.com/uploads/8/5/3/7/8537069/long-landscape1_orig.jpg" style="width:100%">
                        <img src="https://stephaniecroydon.weebly.com/uploads/8/5/3/7/8537069/yellowgrey_orig.jpg" style="width:100%">
                        <img src="https://stephaniecroydon.weebly.com/uploads/8/5/3/7/8537069/vibrant-landscape-on-wood_orig.jpg" style="width:100%">
                    </div>
                </div>
                <a class="buttons green" href="/contact">VISIT GALLERY</a>
            </section>
            <section id="l-links">
                
            </section>
        </main>
<% include partials/footer %>