<% include partials/header %>
        <a href="#"><i id="scrollUpButton" class="fas fa-arrow-up"></i></a>
        <main>
            <section id="welcome">
              <div id="headerBox">
                <div id="content">
                  <h2 id="name">STEPHANIE CROYDON</h2>
                  <h4 id="descr">ARTIST</h4>
                  <a href="/gallery" class="buttons">GALLERY</a>
                </div>
                
              </div>
            </section>
            
              
        </main>
<% include partials/footer %>