<% include partials/header %>

<main>
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <div id="content">
          <h1 id="name">STEPHANIE CROYDON</h1>
          <h3 id="descr">INTERDISCIPLINARY ARTIST CORNWALL</h3>
          <a href="#" id="enterBtn">ENTER</a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="socialIcons">
        <div class="col">
            <a href="#"><i class="fab fa-facebook fa-2x"></i></i></a>               
        </div>
        <div class="col">
            <a href="#"><i class="fab fa-twitter fa-2x"></i></a>             
        </div>
        <div class="col">
            <a href="#"><i class="fab fa-instagram fa-2x"></i></a>              
        </div>
        <div class="col">
            <a href="#"><i class="fab fa-medium-m fa-2x"></i></a>                
        </div>
        <div class="col">
            <a href="#"><i class="fab fa-tumblr-square fa-2x"></i></a>              
        </div>
      </div>
    </div>
  </div>
</main>