<% include partials/header %>

<section class="grid" id="section-a">
    <img id="topImg" src="https://stephaniecroydon.weebly.com/uploads/8/5/3/7/8537069/neon-land-small-wood_orig.jpg">
    <div class="d-flex justify-content-end" id="socialHome">
        <ul>
            <div class="">
                <li class="socialIcons"><a href="#"><i class="fab fa-facebook-square fa-5x"></a></i></li>               
            </div>
            <div class="">
                <li class="socialIcons"><a href="#"><i class="fab fa-twitter-square fa-5x"></a></i></li>              
            </div>
            <div class="">
                <li class="socialIcons"><a href="#"><i class="fab fa-instagram fa-5x"></a></i></li>              
            </div>
            <div class="">
                <li class="socialIcons"><a href="#"><i class="fab fa-medium fa-5x"></a></i></li>                
            </div>
            <div class="">
                <li class="socialIcons"><a href="#"><i class="fab fa-tumblr-square fa-5x"></a></i></li>               
            </div>
        </ul>
    </div>
</section>

<section class="container-fluid section-b">
    <div class="" id="myArt">
        <div class="row">
            <div class="col d-flex justify-content-center">
                <h1 id="myArtTitle">- OUT WEST -</h1>  
            </div>
        </div>
        <div class="row">
            <div class="column">
                <img src="https://stephaniecroydon.weebly.com/uploads/8/5/3/7/8537069/20171120-143124-711_orig.jpg" alt="Art/Work" class="imgGal">
                <img src="https://stephaniecroydon.weebly.com/uploads/8/5/3/7/8537069/20171120-143842_orig.jpg" alt="Art/Work" class="imgGal">
            </div>
            <div class="column">
                <img src="https://stephaniecroydon.weebly.com/uploads/8/5/3/7/8537069/patchcolour_orig.jpg" alt="Art/Work" class="imgGal">
                <img src="https://stephaniecroydon.weebly.com/uploads/8/5/3/7/8537069/purple-telegraph-on-wood_orig.jpg" alt="Art/Work" class="imgGal">
            </div>
            <div class="column">
                <img src="https://stephaniecroydon.weebly.com/uploads/8/5/3/7/8537069/20171120-143558_orig.jpg" alt="Art/Work" class="imgGal">
                <img src="https://stephaniecroydon.weebly.com/uploads/8/5/3/7/8537069/print3-1_orig.jpg" alt="Art/Work" class="imgGal">
            </div>
            <div class="column">
                <img src="https://stephaniecroydon.weebly.com/uploads/8/5/3/7/8537069/vibrant-landscape-on-wood_orig.jpg" alt="Art/Work" class="imgGal">
                <img src="https://stephaniecroydon.weebly.com/uploads/8/5/3/7/8537069/dark-coast_orig.jpg" alt="Art/Work" class="imgGal">
            </div>
        </div>
        <!--<div class="row">-->
        <!--    <div class="column d-flex justify-content-center galleryLink">-->
        <!--        <button type="button" class="btn btn-outline-primary btn-lg galBtn">Gallery</button>-->
        <!--    </div>-->
        </div>
    </div>
</section>


<% include partials/footer %>