<% include partials/header %>

<section class="sectionDiv" id="">
    <img id="topImg" src="https://stephaniecroydon.weebly.com/uploads/8/5/3/7/8537069/neon-land-small-wood_orig.jpg">
</section>


<% include partials/footer %>