<% include partials/header %>
        <main>
            <section id="welcome">
              <div id="headerBox">
                <div id="content">
                  <h2 id="name">STEPHANIE CROYDON</h2>
                  <h4 id="descr">ARTIST</h4>
                  <a href="/gallery" class="buttons">GALLERY</a>
                </div>
              </div>
            </section>
            
            <section id="bio">
              <div id="bioContent">
                <i class="fas fa-paint-brush fa-2x"></i>
                <p>Stephanie Croydon is a multi-disciplinary artist residing in Cornwall, UK. 
                She is passionate about capturing inspiration from the landscape and the culture she lives in and turning it
                into thought-provoking pieces, utilizing numerous materials for all to enjoy.</p>
                <a class="buttons" href="/about">LEARN MORE</a>
              </div>
            </section>
            
            <section id="landingGallery">
              <div class="rowGal"> 
              <div class="columnGal">
                <img src="https://stephaniecroydon.weebly.com/uploads/8/5/3/7/8537069/20171120-143655_orig.jpg" style="width:100%">
                <img src="https://stephaniecroydon.weebly.com/uploads/8/5/3/7/8537069/patchcolour_orig.jpg" style="width:100%">
                <img src="https://stephaniecroydon.weebly.com/uploads/8/5/3/7/8537069/neon-land-small-wood_orig.jpg" style="width:100%">
              </div>
              
              <div class="columnGal">
                <img src="https://stephaniecroydon.weebly.com/uploads/8/5/3/7/8537069/20171120-143558_orig.jpg" style="width:100%">
                <img src="https://stephaniecroydon.weebly.com/uploads/8/5/3/7/8537069/20171120-143757_1_orig.jpg" style="width:100%">
                <img src="https://stephaniecroydon.weebly.com/uploads/8/5/3/7/8537069/20171120-143124-711_orig.jpg" style="width:100%">
              </div> 
               
              <div class="columnGal">
                <img src="https://stephaniecroydon.weebly.com/uploads/8/5/3/7/8537069/long-landscape1_orig.jpg" style="width:100%">
                <img src="https://stephaniecroydon.weebly.com/uploads/8/5/3/7/8537069/yellowgrey_orig.jpg" style="width:100%">
                <img src="https://stephaniecroydon.weebly.com/uploads/8/5/3/7/8537069/vibrant-landscape-on-wood_orig.jpg" style="width:100%">
              </div>
              <a class="buttons" href="/contact">VISIT GALLERY</a>
            </section>
            
            <section id="connect">
              <div id="connectContent">
                <p>Connect with stephanie on social media to see latest projects, articles and art related topics. 
                Contact Her by clicking the button below.</p>
                <a class="buttons" href="/contact">CONTACT</a>
              </div>
            </section>
        </main>
<% include partials/footer %>