<% include partials/header %>
        <main id="container">
            <section id="landing-wrapper">
                <section id="landing-textArea">
                    <div id="textArea-content">
                        <div id="landing-social-icons">
                            <a href="#"><i class="fab fa-facebook-f fa-2x"></i></a>
                            <a href="#"><i class="fab fa-twitter fa-2x"></i></a>
                            <a href="#"><i class="fab fa-instagram fa-2x"></i></a>
                        </div>
                        <div id="landing-name">
                            <h1>STEPHANIE</h1>
                            <h1>CROYDON</h1>
                            <h3>ARTIST</h3>
                        </div>
                        <div id="short-bio">
                            <p>"Art provides a chance to escape your own reality and tap into 
                            another version of reality that is not available to the hectic
                            mind..."</p>
                        </div>
                        <div id="landing-buttons" class="">
                            <a href="/gallery" class="buttons green landingBtns">GALLERY</a>
                            <a href="/contact" class="buttons white landingBtns">CONTACT</a>
                        </div>
                    </div>
                </section>
                <section id="landing-picArea">
                  
                </section>
            </section>
            <section id="l-about-wrapper">
                <div id="l-about-content">
                    <div id="circle"></div>
                    <h1>I'm a <span class="l-about-span">Cornwall</span> based artist specialising
                    in Interdisciplinary  <span class="l-about-span">Art</span>
                    and  <span class="l-about-span">Design</span></h1>
                </div>
            </section>
            <section id="landingGallery">
                <div class="rowGal"> 
                    <div class="columnGal">
                        <img src="https://stephaniecroydon.weebly.com/uploads/8/5/3/7/8537069/20171120-143655_orig.jpg" style="width:100%">
                        <img src="https://stephaniecroydon.weebly.com/uploads/8/5/3/7/8537069/patchcolour_orig.jpg" style="width:100%">
                        <img src="https://stephaniecroydon.weebly.com/uploads/8/5/3/7/8537069/neon-land-small-wood_orig.jpg" style="width:100%">
                    </div>
                  
                    <div class="columnGal">
                        <img src="https://stephaniecroydon.weebly.com/uploads/8/5/3/7/8537069/20171120-143558_orig.jpg" style="width:100%">
                        <img src="https://stephaniecroydon.weebly.com/uploads/8/5/3/7/8537069/20171120-143757_1_orig.jpg" style="width:100%">
                        <img src="https://stephaniecroydon.weebly.com/uploads/8/5/3/7/8537069/20171120-143124-711_orig.jpg" style="width:100%">
                    </div> 
                   
                    <div class="columnGal">
                        <img src="https://stephaniecroydon.weebly.com/uploads/8/5/3/7/8537069/long-landscape1_orig.jpg" style="width:100%">
                        <img src="https://stephaniecroydon.weebly.com/uploads/8/5/3/7/8537069/yellowgrey_orig.jpg" style="width:100%">
                        <img src="https://stephaniecroydon.weebly.com/uploads/8/5/3/7/8537069/vibrant-landscape-on-wood_orig.jpg" style="width:100%">
                    </div>
                </div>
                <a class="buttons green landing" href="/gallery">GALLERY</a>
            </section>
            <section id="l-links">
                <div id="etsy"><a href="https://www.etsy.com/uk/shop/StephanieCroydon" target="_blank">ETSY SHOP</a></div>
                <div id="fabric"><a href="https://www.spoonflower.com/profiles/stephaniecroydon" target="_blank">FABRIC</a></div>
                <div id="zine"><a href="https://punkymoms.com/punky-news/pussy-grabs-back-zine/" target="_blank">ZINE</a></div>
            </section>
            <section id="l-contact">
                <div id="l-contact-content">
                    <h1>Contact Stephanie</h1>
                    <form action="/email" method="POST">
                        <input type="text" name="name" placeholder="Name" required>
                        <input type="email" name="password" placeholder="Email" required>
                        <textArea name="message" placeholder="Write Message" required></textArea>
                        <button id="submit-button">Send</button>
                    </form>
                </div>
            </section>
        </main>
<% include partials/footer %>