<% include partials/header %>
        <main id="wrapper">
            <section id="landing-textArea">
                <div id="textArea-content">
                    <div id="landing-social-icons">
                        <a href="#"><i class="fab fa-facebook-f fa-2x"></i></a>
                        <a href="#"><i class="fab fa-twitter fa-2x"></i></a>
                        <a href="#"><i class="fab fa-instagram fa-2x"></i></a>
                    </div>
                    <div id="landing-name">
                        <h1>STEPHANIE</h1>
                        <h1>CROYDON</h1>
                        <h3>ARTIST</h3>
                    </div>
                    <div id="short-bio">
                        <p>I'm an Artist based in Cornwall with many years experience
                        capturing the stunning south-west landscape and creating thought-
                        provoking works from it.</p>
                    </div>
                    <div id="landing-buttons" class="">
                        <a href="/gallery" class="buttons green landingBtns">GALLERY</a>
                        <a href="/contact" class="buttons white landingBtns">CONTACT</a>
                    </div>
                </div>
            </section>
            <section id="landing-picArea">
              
            </section>
        </main>
<% include partials/footer %>