/*GLOBAL GLOBAL GLOBAL GLOBAL GLOBAL GLOBAL GLOBAL GLOBAL GLOBAL GLOBAL GLOBAL */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: #cccccc;
    color: #0d090a;
    font-family: 'Work Sans', sans-serif;
    padding: 0;
    margin: 0;
}
a{
    color: #eaf2ef;
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}
.buttons{
    padding: 8px 25px;
    letter-spacing: 3px;
    font-weight: 400;
    display: inline-block;
    cursor: pointer;
}
.green{
    background-image: linear-gradient(#2aa22e, #1f7a22);
    border-radius: 20px;
}
.white{
    background-image: linear-gradient(#eaf2ef, #c0d8cf);
    border-radius: 20px;
}
a.green{
    color: #eaf2ef;
}
a.white{
    color: #1a651d;
}
.white, a:hover{
    color: #2fb634; 
}
.fade-div{
    height: 20vh;
    width: 100%;
    background-color: black;
}
/*LANDING PAGE LANDING PAGE LANDING PAGE LANDING PAGE LANDING PAGE LANDING PAGE LANDING PAGE */

/*NAVBAR NAVBAR NAVBAR NAVBAR NAVBAR */
#sidebar {
  position:absolute;
  top:0px;
  left:-200px;
  width:200px;
  height:100vh;
  background:#020202;
  border-right: 1px solid #B9BFBD;
  transition:all 200ms linear;
  padding: 0 5px 0 0;
  z-index: 100;
}
#menu-items{
    height: 43vh;
}
#sidebar .toggle-btn {
  position:absolute;
  left:220px;
  top:10px;
  cursor:pointer;
}
#sidebar .toggle-btn span {
  display:block;
  width:35px;
  height:5px;
  background-color: #2aa22e;
  margin:5px 0px;
  border-radius: 20px;
}
#sidebar div.list div.item {
  padding:15px 10px;
  text-transform:uppercase;
  font-size:15px;
  letter-spacing: 2px;
  background-image: linear-gradient(#1b1d21, #151719);
}
body.sidebar-active #sidebar {
  left:0px;
}
#social-icons{
    height: 50vh;
    text-align: center;
}
#social-icons a{
    display: block;
    margin-bottom: 50px;
    color: #2aa22e;
    padding: 20px;
}
#social-icons-box{
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(to bottom right, #1b1d21, #151219);
    border-radius: 50px;
}
#built{
    max-height: 7vh;
    text-align: center;
    background-image: linear-gradient(#1b1d21, #151719);
}
#built p{
    margin: 0;
    color: #8a8e8d;
}
/*Welcome header Welcome header*/
/*#container{*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*}*/
#landing-wrapper{
    color: #020202;
    background-color: #fcfcfe;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
#textArea-content{
    width: 40vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#landing-social-icons{
    margin-bottom: 40px;
}
#landing-social-icons .fab{
    color: #2aa22e;
    margin-right: 30px;
}
#landing-name{
    margin-bottom: 40px;
    border-right: 2px solid #959d9a;
    text-align: center;
}
#landing-name h1{
    font-size: 5rem;
    letter-spacing: 6px;
    padding-right: 40px;
    font-family: 'Aleo', serif;
}
#landing-name h3 {
    color: #959d9a;
    display: none;
    font-size: 1.2rem;
    font-style: italic;
}
#short-bio{
    text-align: center;
    margin-bottom: 40px;
    font-family: 'Charm', cursive;
    font-size: 1.3rem;
    /*font-style: italic;*/
    letter-spacing: 1px;
}
#short-bio p{
    color: #959d9a;
}
.landingBtns{
    margin-right: 30px;
}
.buttons.green.landing{
    font-size: 1.3rem;
}
#top-fade-div{
    background-image: linear-gradient(#fcfcfe, #CAD9E3);
    display: flex;
    justify-content: center;
    align-items: center;
}
#top-fade-div .fas{
    animation: down 3s linear infinite;
}
@keyframes down{
    0% {
      color: #fcfcfe;  
    }
    50% {
        color: #CAD9E3;
    }
    100% {
        color: #fcfcfe;
    }
}
/*Landing-about-section Landing-about-section Landing-about-section */
#l-about-wrapper{
    min-height: 60vh;
    color: #0d090a;
    background-image: linear-gradient(#CAD9E3, #B2CBDB);
    display: flex;
    justify-content: center;
    align-items: center;
}
#l-about-content{
    width: 1000px;
    margin: 10% auto;
}
#circle{
    width: 400px;
    height: 400px;
    background: url('https://scontent-lhr3-1.xx.fbcdn.net/v/t1.0-9/35386867_10160560157235302_4587852970023976960_n.jpg?_nc_cat=103&_nc_ht=scontent-lhr3-1.xx&oh=4e748cb8d09e8cee3e525620098ee388&oe=5CFBA7EF');
    background-position: center;
    background-size: contain;
    border-radius: 50%;
    float: left;
    margin-right: 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#l-about-content h1{
    font-size: 4rem;
}
.l-about-span{
    color: #2fb634;
    font-size: 4.1rem;
}
#l-about-fade-div{
    background-image: linear-gradient(#B2CBDB, #B2D6ED);
}
/*Landing Gallery Landing Gallery Landing Gallery */
#landingGallery{
    min-height: 70vh;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    background-image: linear-gradient(#B2D6ED, #A6D8F7);
}
.rowGal {
  display: flex;
  flex-wrap: wrap;
  padding: 50px 4px;
}
.rowGal img{
    border: 2px solid black;
}
.columnGal {
  flex: 33.3%;
  max-width: 33.3%;
  padding: 0 4px;
}

.columnGal img {
  margin-top: 8px;
  vertical-align: middle;
}
#landingGallery a{
    margin: 40px auto 80px auto;
}
#lineBreak{
    background-color: #912f56;
    height: 2px;
    width: 70%;
}
/*Landing links and contact Landing links and contact */
#contact-links{
    display: grid;
    grid-template-columns: auto auto;
}
#l-contact{
    min-height: 70vh;
    background-image: linear-gradient(#A6D8F7, #8BC5E8);
    display: flex;
    align-items: center;
    flex-direction: column;
    
}
#l-contact-content{
    padding: 60px 30px;
    border-right: 2px solid white;
    border-bottom: 2px solid white;
    box-shadow: 3px 3px 7px grey;
    background-image: linear-gradient(#9DD2F2, #93C6E6);
}
#l-contact h1{
    font-size: 3rem;
    margin-bottom: 30px;
}
#l-contact input{
    font-family: 'Work Sans', sans-serif;
    font-size: 1rem;
    display: block;
    width: 100%;
    height: 40px;
    margin-bottom: 15px;
    /*border: 1px solid grey;*/
}
#l-contact textarea{
    font-family: 'Work Sans', sans-serif;
    font-size: 1rem;
    width: 100%;
    height: 200px;
    margin-bottom: 15px;
    display: block;
}
#submit-button{
    padding: 8px 25px;
    color: #eaf2ef;
    font-size: 1rem;
    letter-spacing: 3px;
    cursor: pointer;
    background-image: linear-gradient(#2aa22e, #1f7a22);
    border-radius: 10px;
    border: 0;
    display: block;
    width: 100%;
}
#l-links-section{
    background-image: linear-gradient(#A6D8F7, #8BC5E8);
}
#l-links{
    min-height: 40vh;
    /*background-color: #cccccc;*/
    display: flex;
    justify-content: center;
    align-items: center;
}
#l-links-h1{
    min-height: 5vh;
    text-align: center;
    font-size: 1.8rem;
    margin-top: 55px;
}
#l-links div{
    height: 200px;
    width: 200px;
    background-color: green;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 50%;
    margin-right: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8rem;
    font-weight: bold;
}
#l-links a{
    color: black;
    background-color: white;
}
#etsy{
    background: url('https://i.etsystatic.com/11758165/r/il/ecfad7/849678333/il_570xN.849678333_ajm2.jpg');
}
#fabric{
    background: url('https://s3.amazonaws.com/spoonflower/public/design_thumbnails/0668/6633/rrsymbol_white_shop_thumb.png');
}
#zine{
    background: url('https://i0.wp.com/punkymoms.com/wp-content/uploads/2017/11/trump2.jpg?resize=678%2C381&ssl=1');
}
/*Footer Footer Footer Footer Footer*/
footer{
    height: 30vh;
    background-image: linear-gradient(#8BC5E8, #0E69A1);
    text-align: center;
    color: #eaf2ef;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#footer-icons i{
    color: #2aa22e;
    margin: 30px 30px 30px 0;
}
footer p{
    margin-bottom: 30px;
}
/*GALLERY GALLERY GALLERY GALLERY GALLERY GALLERY GALLERY GALLERY GALLERY GALLERY GALLERY */

/*ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT */
#about-page{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    color: #eaf2ef;
}
#about-wrapper{
    height: 94vh;
    width: 100vw;
    margin-top: 6vh;
}
#about-picArea{
    width: 700px;
    height: 100vh;
    float: left;
}
#about-pic{
    width: 700px;
    height: 100vh;
    -webkit-clip-path: polygon(100% 0, 75% 50%, 100% 100%, 0 100%, 0 0);
    clip-path: polygon(100% 0, 75% 50%, 100% 100%, 0 100%, 0 0);
}
#about-textArea{
    padding: 100px 200px 0 50%;
}
#about-textArea h1{
    font-size: 3rem;
}
#about-titleLine{
    width: 60px;
    height: 2px;
    margin: 20px 0 60px 0;
    background-image: linear-gradient(to right, rgba(52,203,57,0), rgba(52,203,57,1));
}
#about-textArea p{
    font-size: 1.1rem;
    color: #959d9a;
}
#about-btns{
    margin-top: 50px;
}
#about-btns a{
    margin-right: 30px;
}
/*SHOP SHOP SHOP SHOP SHOP SHOP SHOP SHOP SHOP SHOP SHOP SHOP SHOP SHOP SHOP SHOP SHOP SHOP */

/*CONTACT CONTACT CONTACT CONTACT CONTACT CONTACT CONTACT CONTACT CONTACT CONTACT CONTACT */
/*#contactSection{*/
/*    width: 100vw;*/
/*    min-height: 65vh;*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*}*/
/*#contactContent{*/
/*    width: 55vw;*/
/*    padding-top: 100px;*/
/*    margin: 0 auto 0 auto;*/
/*    display: grid;*/
/*    grid-template-rows: auto auto;*/
/*    background-color: #eaf2ef;*/
/*}*/
/*#contactHeader{*/
/*    display: flex;*/
/*    color: #0d090a;*/
/*    font-size: 1.5rem;*/
/*    letter-spacing: 5px;*/
/*}*/
/*.lineContainer{*/
/*    height: 36px;*/
/*    display: grid;*/
/*    align-items: center;*/
/*    flex: 8;*/
/*}*/
/*.line{*/
/*    height: 2px;*/
/*    width: inherit;*/
/*    background-color: #912f56;*/
/*    align-self: center;*/
/*}*/
/*#contactForm{*/
/*    width: 50%;*/
/*    margin: 30px auto;*/
/*    letter-spacing: 2px;*/
/*}*/
/*.input-row{*/
/*    display: grid;*/
/*    grid-template-columns: 1fr 4fr;*/
/*    margin-bottom: 30px;*/
/*}*/
/*.labels{*/
/*    text-align: right;*/
/*}*/
/*.input-field{*/
/*    width: 100%;*/
/*    margin-left: 10px;*/
/*}*/
/*#input-area{*/
/*    margin-left: 10px;*/
/*    width: 100%;*/
/*    height: 120px;*/
/*}*/
/*#submitDiv{*/
/*    width: 100%;*/
/*}*/
/*#submitButton{*/
/*    display: block;*/
/*    margin: 0 auto;*/
/*    cursor: pointer;*/
/*}*/
/*MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES */
@media (max-width: 1455px) {
    #about-textArea{
        padding: 50px 70px 0 50%;
    }
    #l-links div{
        height: 180px;
        width: 180px;
        margin-right: 60px;
        font-size: 1.8rem;
    }
}
@media (max-width: 1320px) {
    #contact-links{
        grid-template-columns: auto;
    }
    #about-picArea{
        width: 500px;
        height: 100vh;
        float: left;
    }
    #about-pic{
        width: 500px;
        height: 100vh;
        -webkit-clip-path: polygon(100% 0, 75% 50%, 100% 100%, 0 100%, 0 0);
        clip-path: polygon(100% 0, 75% 50%, 100% 100%, 0 100%, 0 0);
    }
    #about-titleLine{
        margin: 20px 0 30px 0;
    }
    #about-textArea p{
        font-size: 1rem;
    }
}
@media (max-width: 1000px) {
    #landing-name h1{
        font-size: 3.5rem;
    }
    .landingBtns{
        margin-right: 10px;
    }
    #l-about-content{
        width: 95vw;
    }
    #circle{
        float: none;
        margin: 0 auto;
    }
    #l-about-content h1{
        padding-top: 50px;
        text-align: center;
        font-size: 3rem;
    }
    .l-about-span{
        font-size: 3.1rem;
    }
    .columnGal {
        flex: 100%;
        max-width: 100%;
    }
    #l-links{
    flex-direction: column;
    }
    #l-links div{
        margin: 20px 0;
    }
}
@media (max-width: 790px) {
    #landing-name h1{
        font-size: 2.7rem;
    }
    #landing-buttons{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .landingBtns{
        margin-bottom: 15px;
    }
    #circle{
        width: 300px;
        height: 300px;
    }
    #l-about-content h1{
        font-size: 2.5rem;
    }
    .l-about-span{
        font-size: 2.6rem;
    }
}
@media (max-width: 600px) {
    #landing-textArea {
        align-items: flex-start;
        padding-top: 80px;
        max-height: 100vh;
    }
    #landing-social-icons {
        display: none;
    }
    #landing-name {
        border-right: 0;
    }
    #landing-name h1 {
        font-size: 2rem;
        letter-spacing: normal;
        padding-right: 10px;
    }
    #landing-name h3 {
        display: block;
        margin-top: 25px;
    }
    #short-bio p{
    /*color: #020202;*/
    font-size: 1rem;
}
}
/*
colors - #912f56 pink
         #521945 purple
         #361f27 brown
         #0d090a black
         #eaf2ef white
*/